<div class="row setup-content" id="step-2">    
    <div class="container">
      <form class="form-horizontal" role="form" id="creditCardForm" name="creditCardForm" style="float: left;" action="/inc/cartHandler.php">
          <fieldset>
          <legend>Pago</legend>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Nombre del titular</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Nombre del Titulars">
              <input type="hidden" id="tokenID" name="tokenID" value=''>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number" >Numero de Tarjeta</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Tarjeta de debito/credito">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="expiry-month">Fecha de expiracion</label>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-xs-6">
                  <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                    <option>Mes</option>
                    <option value="01">Jan (01)</option>
                    <option value="02">Feb (02)</option>
                    <option value="03">Mar (03)</option>
                    <option value="04">Apr (04)</option>
                    <option value="05">May (05)</option>
                    <option value="06">June (06)</option>
                    <option value="07">July (07)</option>
                    <option value="08">Aug (08)</option>
                    <option value="09">Sep (09)</option>
                    <option value="10">Oct (10)</option>
                    <option value="11">Nov (11)</option>
                    <option value="12">Dec (12)</option>
                  </select>
                </div>
                <div class="col-xs-6">
                  <select class="form-control" name="expiry-year">
                    <option value="14">2014</option>
                    <option value="15">2015</option>
                    <option value="16">2016</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="cvv">Codigo CVV</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="cvv" id="cvv" max="9999" placeholder="Codigo de seguridad">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</div>

<script src="/js/jquery.form.js" type="text/javascript"></script>
<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/js/additional-methods.min.js" type="text/javascript"></script>
<script>
        function generateOrder() {
            var url = '/inc/cartHandler.php';
            var data = {
                tokenID: '',
                nuevoPedido: true
            };
            function success(element) {
                if (element.status === 'success') {
                    
                }
                };
            $.post(url, data, success, "json");
        }
        pass = false;
        message = 'Verifique los datos';
        $("#creditCardForm").validate(       
                { 
                    rules:
                    { 
                        "card-holder-name": {
                            maxlength: 50,
                            minlength: 4
                        },
                        "card-number": {
                            required: true,
                            creditcard: true
                        },
                        "cvv": {
                            required: true,
                            maxlength: 4,
                            minlength: 3
                        },
                        "expiry-month": {
                            required: true
                        }
                    },
                    messages:
                            {
                                "card-holder-name": {
                                    
                                    minlength: "Por favor ingrese al menos {0} caracteres"
                                },
                                "card-number": "Numero de tarjeta invalido",
                                "cvv": "Ingrese un codigo de tarjeta valido",
                                "expiry-month": "Ingrese una fecha valida"
                            }
                }
        );
        var options = {
            success: function(element) {
                $.noty.closeAll();
                if (element.status === 'success') {
                                notyTopNotification('success', element.message);
                                
                                $("#tokenID").val(element.orderID);
                                $("#orderID").append('<b>'+$("#tokenID").val()+'</b>');
                                return true;
                }
                else {
                    notyBottomNotification('error', element.message);
                    return false;
                }
            },
            error: function (element) {
                                console.log(element);
                                var not = noty(
                                    {   layout: 'topCenter',
                                        text: 'UNEXPECTED ERROR, TRY AGAIN LATER',
                                        timeout: '3000',
                                        type: 'error'
                                    }); 
                                pass = false;
            },
            type : 'post',
            dataType : 'json'
        };
        function validData() {
                    return $("#creditCardForm").validate().form();
                }
</script>

